.hero-items {
    color: transparent;
    text-transform: uppercase;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    h1 {
        margin: 0 auto;
        font-size: 8vw;
    }
}
main {
    height: 100%;
    #content-hero {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: calc(100vh - 32px);
    }
}
.button_style {
    width: 100%;
    padding: 16px;
    border: none;
    background-color: #D8D8D8;
    max-width: 100%;
    @include bp-min-computer {
        max-width: 272px;
    }
    &:hover {
        background-color: #000;
        color: #fff;
    }
}
