body {
    font-family: 'SpaceMono-Regular';
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}

/*Medias queries*/
/*1200px*/
@mixin bp-min-large {
    @media only screen and (min-width: $large-monitor-breakpoint ) {
        @content;
    }
}
/*992px*/
@mixin bp-max-computer {
    @media only screen and (max-width: $computer-breakpoint) {
        @content;
    }
}
@mixin bp-min-computer {
    @media only screen and (min-width: $computer-breakpoint) {
        @content;
    }
}
/*768px*/
@mixin bp-max-tablet {
    @media only screen and (max-width: $tablet-breakpoint) {
        @content;
    }
}
@mixin bp-min-tablet {
    @media only screen and (min-width: $tablet-breakpoint) {
        @content;
    }
}
/*576px*/
@mixin bp-min-mobile {
    @media only screen and (min-width: $mobile-breakpoint ) {
        @content;
    }
}