.photos-home, .related-post {
    li {
        position: relative;
        .hover_img {
            background-color: rgba(0,0,0,0.5);
            position: absolute;
            color: #fff;
            opacity: 0;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            transition: all 0.5s ease-out;
            .group {
                display: flex;
                justify-content: space-between;
                height: 100%;
                align-items: end;
                padding: 0 10px;
            }
            .eyes {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                top: 50%;
                height: 50%;
                img {
                    width: 100%;
                    display: block;
                    max-width: 46px;
                    max-height: 31px;
                }
            }
            .img_fullscreen {
                button {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    border: none;
                    background: transparent;
                    cursor: pointer;                
                }
            }
        }
        &:hover .hover_img{
            transition: 0.5s;
            opacity: 1;
        }
    }
}
.related-post {
    li {
        .hover_img {
            .eyes {
                height: 5px;
            }
        }
    }
}
// lightbox
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 2000;
    article {
        height: 100%;
        .lightbox_container {
            height: 100%;
            max-width: 564px;
            margin: 0 auto;
            position: relative;
            top: 15%;
            .group {
                display: flex;
                justify-content: space-between;
                width: 100%;
                color: #fff;
                height: 85%;
            }
            .img_item {
                height: 565px;
                img {
                    width: 100%;
                    height: 100%;
                    -o-object-fit: cover;
                    object-fit: cover; 
                }
            }
        }
    }
    .lightbox_next, .lightbox_prev, .lightbox_close {
        border: none;
        background-color: transparent;
        position: fixed;
        opacity: .5;
        cursor: pointer;
    }
    .lightbox_next, .lightbox_prev {
        top: 50%;
        z-index: 2001;
        &:hover, &:focus {
            opacity: 1;
        }
    }
    .lightbox_close {
        top: 10px;
        right: 10px;
        z-index: 2002;
    }
    .lightbox_next {
        right: 10px;
    }
    .lightbox_prev {
        top: 50%;
        left: 10px;
    }
}