.page-item {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: flex-start;
    margin: 20px 0 0 0;
    @include bp-min-computer {
        margin: 0;
        align-items: end;
        flex-direction: row;
    } 
    .page-description {
        border-bottom: 1px solid #000;
        width: 100%;
        max-width: 100%;
        @include bp-min-computer {
            max-width: 50%;
        }
    }
    .page-title {
        max-width: 420px;
        font-size: 4.125rem;
        font-style: italic;
        text-transform: uppercase;
    }
    p {
        font-size: .875rem;
        margin-bottom: 20px;
    }
}
.page-single-photo {
    .section-contact {
        display: flex;
        margin: 20px 54px 0 54px;
        justify-content: space-between;
        width: 100%;
        flex-direction: column;
        z-index: 1;
        @include bp-min-computer {
            flex-direction: row;
            margin: 0;
        }
        .item {
            display: flex;
            margin: 15px 0;
            justify-content: space-between;
            flex-direction: column;
            width: 100%;
            @include bp-min-computer {
                flex-direction: row;
            }
            .previous, .next {
                img { 
                    display: none;
                }
                a {
                    &:hover {
                        img {
                            display: block;
                            width: 100%;
                            max-width: 81px;
                            max-height: 71px;
                            object-fit: cover;
                            position: absolute;
                            bottom: 100%;
                        }
                    }
                }
            }            
        }
        .first {
            max-width: 81%;
            @include bp-min-computer {
                max-width: 50%;
            }
        }
        .sec {
            display: none;
            @include bp-min-computer {
                display: flex;
                position: relative;
                right: 0;
                max-width: 81px;
                top: 52px;
                a {
                    &:hover {
                        img {
                            left: 0;
                        }
                    }
                }
            }
        }
    }
    #related {
        border-top: 1px solid #000;
        .related-post {
            margin: 0 29px;
            @include bp-min-computer {
                margin: 52px 0;
            }
            ul {
                display: flex;
                list-style-type: none;
                justify-content: space-between;
                padding: 0;
                flex-direction: column;
                @include bp-min-computer {
                    flex-direction: row;
                }
                 li {
                    display: flex;
                    flex-direction: column;
                    img {
                        object-fit: cover;
                        height: 590px;
                        max-width: 100%;
                    }
                    &:first-child {
                        margin-right: 0;
                        @include bp-min-computer {
                            margin-right: 10px;
                        }
                    }
                    &:last-child {
                        margin-left: 0;
                        @include bp-min-computer {
                            margin-left: 10px;
                        }
                    }
                 }
            }
        }
        .related_button {
            display: flex;
            justify-content: center;
            margin-bottom: 64px;
        }
    }
}
.m-rp {
    padding-left: 54px;
    padding-right: 54px;
    @include bp-min-computer {
        padding-left: 0;
        padding-right: 0;
    }
}